@model SongTest.MVC.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAlbums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAlbums)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BandId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
